{{> navbar}}
<div class="container">
    <div class="box-big"> 
        <h4>Founded in 2018 and based in Pune, Maharashtra.
            <br>
            <br>Cygnus is an easy to use web application to store contacts details.</h4>
    </div>
</div>