{{> navbar}}
<div class="container">
    <div class="box-big">
        <h1>Contact Us</h1>
        <p>Send your queries at :-
            <a href="mailto:ivan.pillay@harbingergroup.com" target="_top">ivan.pillay@harbingergroup.com</a>
        </p>
        <p>Find us here:</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.5773558767837!2d73.77064141445848!3d18.54799178739305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bec067ace951%3A0x31163e50d3229ba5!2sHarbinger+Group!5e0!3m2!1sen!2sin!4v1531597951372"
            width="480" height="320" frameborder="0" style="border:0"></iframe>
    </div>
</div>